.about {
    grid-row: content-s/content-e;
    grid-column: s/e;
    font-size: 50px;

    &__title {
        // grid-row: content-s/content-e;
        // grid-column: s/e;
      
    }
    &__info {
        // grid-row: content-s/content-e;
        // grid-column: s/e;
        
    }
}