.about {
    grid-row: content-s/content-e;
    grid-column: content-s/content-e;
    background-color: rgba(white, .4);
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);

    font-size: 50px;

    &__title {
        // grid-row: content-s/content-e;
        // grid-column: s/e;
      
    }
    &__info {
        font-size: 32px;
        
    }
}