
.details {
    display: grid;
    grid-row-gap: 5px;

    &__title {
        padding-bottom: 12px;
        border-bottom: 1px solid #CCC;
        font-size: 14px;
        font-weight: 600;
        background-color: rgba(white, .5);
        padding: 7px;
        border-radius: 5px;

    }

    &__links {
        padding-top: 15px;
        font-size: 14px;
        display: grid;
        grid-row-gap: 10px;
        font-weight: 600;
        background-color: rgba(white, .5);
        border-radius: 5px;
        & > * {
            cursor: pointer;
        }
    }
    &__link {
        padding: 7px;
    }
}