.quote {
    // grid-row: s/e;
    // grid-column: s/e;
    // justify-content: center;
    // align-self: center;



    z-index: -10;


    // padding: 30px;

    font-family: 'Reenie Beanie', cursive;
    font-size: 36px;
    color: darkolivegreen;;
}