.quote {
    grid-row: content-s/content-e;
    grid-column: button-s/button-e;
    justify-content: center;
    align-self: center;

    padding: 30px;

    font-family: 'Reenie Beanie', cursive;
    font-size: 36px;
    color: darkolivegreen;;
}