.quote {
    grid-row: content-s/content-e;
    grid-column: content-s/content-e;
    justify-self: center;
    align-self: center;

    font-family: 'Reenie Beanie', cursive;
    font-size: 36px;
    color: darkolivegreen;;
}