.portfolio {

    grid-row-gap: 15px;
    text-decoration: none !important;

        & > * {
            text-decoration: none;
            font-size: 36px;
            text-decoration: none;
            background-color: rgba(white, .7);
            padding: 15px;
            border-radius: 10px;
            
        }


        .madlibs {
            grid-row: project-s/project-e;
            grid-column: madlibs-s/madlibs-e;

        }

        .ecommerce {
            grid-row: project-s/project-e;
            grid-column: ecom-s/ecom-e;

        }

        .countdown {
            grid-row: project-two-s/project-two-e;
            grid-column: ecom-s/ecom-e;

            &__pic {
                grid-row: project-two-s/project-two-e;
                grid-column: ecom-s/ecom-e;
                justify-self: center;
                align-self: center;
                border-radius: 5px;
            }
        }

        .schedule {
            grid-row: project-s/project-e;
            grid-column: countdown-s/countdown-e;


            &__pic {
                grid-row: project-s/project-e;
                grid-column: countdown-s/countdown-e;
                justify-self: center;
                align-self: center;
                border-radius: 5px;
                transform: translateY(40px)
            }
        }

        .github {
            grid-row: project-two-s/project-two-e;
            grid-column: countdown-s/countdown-e;


            &__pic {
                grid-row: project-two-s/project-two-e;
                grid-column: countdown-s/countdown-e;
                justify-self: center;
                align-self: center;
                border-radius: 5px;
            }
        }

        .project-portfolio {
            grid-row: project-two-s/project-two-e;
            grid-column: madlibs-s/madlibs-e;

            &__pic {
                grid-row: project-two-s/project-two-e;
                grid-column: madlibs-s/madlibs-e;
                justify-self: center;
                align-self: center;
                border-radius: 5px;
            }
        }

}