.portfolio {

    grid-row-gap: 15px;
    
    &__title {
        grid-row: title-s/title-e;
        grid-column: ecom-s/ecom-e;
   

    }
        & > * {
     
        }


        .madlibs {
            grid-row: project-s/project-e;
            grid-column: madlibs-s/madlibs-e;
            font-size: 36px;

            background-color: rgba(white, .7);
            padding: 15px;
            border-radius: 10px;
        }

        .ecommerce {
            grid-row: project-s/project-e;
            grid-column: ecom-s/ecom-e;
            font-size: 36px;

            background-color: rgba(white, .7);
            padding: 15px;
            border-radius: 10px;
        }

        .countdown {
            grid-row: project-s/project-e;
            grid-column: countdown-s/countdown-e;
            font-size: 36px;

            background-color: rgba(white, .7);
            padding: 15px;
            border-radius: 10px;
        }

        .schedule {
            grid-row: project-two-s/project-two-e;
            grid-column: ecom-s/ecom-e;
            font-size: 36px;

            text-decoration: none;
            background-color: rgba(white, .7);
            padding: 15px;
            border-radius: 10px;
        }

        .github {
            grid-row: project-two-s/project-two-e;
            grid-column: countdown-s/countdown-e;
            font-size: 36px;

            text-decoration: none;
            background-color: rgba(white, .7);
            padding: 15px;
            border-radius: 10px;
        }

        .portfolio {
            grid-row: project-two-s/project-two-e;
            grid-column: madlibs-s/madlibs-e;
            font-size: 36px;

            text-decoration: none;
            background-color: rgba(white, .7);
            padding: 15px;
            border-radius: 10px;
        }

}